#section{
    width: 100%;
    overflow-x: scroll;
    margin: 20px 0;
}


#section h2{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

#section .container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

}